@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(135deg, #19212C, #222A35); /* Menambahkan efek gradasi */
    color: #C8CFD8; /* Warna teks utama */
}

/* Scrollbar styling */
::-webkit-scrollbar {
    width: 4px;
    height: 80px;
}

::-webkit-scrollbar-track {
    background: #222A35;
}

::-webkit-scrollbar-thumb {
    background: #575C66;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #626970;
}

/* 3D Effect */
.effect3d {
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.1s ease-out;
    transform-origin: center;
}

.effect3d:hover {
    transform: rotateX(10deg) rotateY(-10deg) scale(1.1);
}
